@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.contact-info-item {
  text-align: center;
}

.contact-info-item i {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}


#switch{
  display: block;
  text-align: end;
  padding: 0% 25px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: -20px;
  left: 10px;
  color: #333;
  font-size: 12px;
}

.input-box input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.input-box input[type="submit"]:hover {
  background: #555;
}
